<script src='/js/jquery.js'></script>
<script src='/projects/projects.js'></script>

<link rel="stylesheet" type="text/css" href="/projects/projects.css" />
<div id=cfgs>
</div>
<div id=list ></div>
<button id=delete >Delete</button>

<div id=cfgstruct >
    <label> 项目名称:</label>
    <input id=name readonly=true></input>
    <div id=src_path >
        <label> 工程目录:</label>
        <div id=sub_src_path >
            <label>目录名:</label><input id=name readonly=true ></input><br />
            <label>目录:</label><input id=path readonly=true ></input><br />
            <label> 编译目录:</label><input id=cmp_path readonly=true ></input><br />
        </div>
    </div> <label> 远程主机:</label>
    <div id=compile_info >
        <label> HOST:</label> <input id=host readonly=true ></input><br />
        <label> PORT:</label> <input id=port readonly=true ></input><br />
        <label> User:</label> <input id=user readonly=true ></input><br />
        <label> Pwd:</label> <input id=pwd readonly=true ></input><br />
        <label> 同步目录:</label> <input id=srcs readonly=true ></input><br />
    </div>
    <label> 事件:</label>
    <div id=events > 
        <label> Enter:</label> <input id=Enter readonly=true ></input><br />
        <label> Leave:</label> <input id=Leave readonly=true ></input><br />
    </div>
</div>

