<script src='/static/js/jquery.js'></script>
<script src='/static/redis/redis.js'></script>
<style>
#keys{
    min-width: 200pt;
    max-width: 50%;
    display: inline-block;
    vertical-align: top;
}
#keys li{
    cursor:pointer;
}
#content{
    vertical-align: top;
    width: 600pt;
    display: inline-block;
    border: none;
    border-left: 1px solid #b0b0b0;
    min-height: 400pt;
    padding-left: 2em;
    display: inline-block;
}
#content #value{
    overflow: auto;
    border: 2px solid green;
    padding: 1em;
}
table{
    border-collapse:collapse;
}
table td{
    padding: 0.5em;
    border: 1px solid;
}
ul{
    padding: 0em;
}
li{
    margin: 1em;
}
button:hover{
    cursor: pointer;
}

div#keys #msg{
    color: red;
}
.index_table tr td:first-child{
    border: 0pt;
    color: grey;
}
div#setting input{
    border: none;
    border-bottom: solid 1px grey;
}
button#delete{
    float: right;
}

</style>

<div id="setting">
    <label>HOST:</label><input size="10" id=host name=host value="127.0.0.1">
    &nbsp;&nbsp;
    <label>PORT:</label><input size="6" id=port name=port value="6379">
    &nbsp;&nbsp;
    <label>DB:</label><input size="3" id=db name=db value="0">
    &nbsp;&nbsp;
    <label>FILTER:</label><input size="15" id="filter" name=filter value='*'>
    &nbsp;&nbsp;
    <button id="refresh">Refresh</button>
    &nbsp;&nbsp;
    <button id="flushdb">FlusDB</button>

</div>

<hr />
<div id="keys">
    <span id=msg > </span> <span id=num > </span> <br />
    <ul>
    </ul>
</div>

<div id= "content" >
    <div id= "info" >
        <button id=delete >delete</button>
        <label>KEY:&nbsp;&nbsp;</label><span id="key"></span><br />
        <label>类型:&nbsp;</label> <span id="type"></span><br />
        <label>NUM:&nbsp;</label> <span id="num"></span><br />
        <label id='msg'></label>
    </div>
        <br />
        <hr />
    <div id="value">
    </div>
</div>



