<script src='/static/js/jquery.js'></script>
<style>
#keys{
    width: 200pt;
    float: left;
}
#keys li{
    cursor:pointer;
}
#content{
    width: 600pt;
    float: left;
    border: none;
    border-left: 1px solid #b0b0b0;
    min-height: 400pt;
    padding: 2em;
    display: none;
}
table{
    border-collapse:collapse;
    border: 1px solid;
}
table td{
    padding: 0.5em;
    border: 1px solid;
}
li{
    margin: 1em;
}
</style>
<script>
function get()
{
    $(this).parent().find('li').css('color', 'black');
    $(this).css('color', 'blue');

    var key = $(this).text();
    var value = $('div#value').html('');
    var value_type = $('div#content span#type').html('');
    var value_key = $('div#content span#key').html('');
    var value_num  = $('div#content span#num').html('');

    $.ajax({
        url: redis_localtion() + "KEYS/" + key,
        dataType: "json",
        success: function(data){
            $('div#content').css("display","block");
            value_type.text(data.type);
            value_key.text(key);

            if (data.type == 'none'){
                return;
            }
            if (data.type == 'string'){
                value.html(data.value);
            }
            if (data.type == 'hash'){
                var t = $('<table>');
                var l = 0;
                for (k in data.value){
                    var tr = $('<tr>');
                    tr.append($('<td>').text(k));
                    tr.append($('<td>').text(data.value[k]));
                    t.append(tr);
                    l += 1;
                }
                value_num.html(l);
                value.append(t);
            }
        },
    })
}

function redis_localtion(){
    var host = $('div#setting input[name=host]').val();
    var port = $('div#setting input[name=port]').val();
    var db = $('div#setting input[name=db]').val();
    return "/redis/" + host + "/" + port + "/" + db + '/';
}
function refresh(){
    $.ajax({
        url:  redis_localtion() + "KEYS",
        dataType: "json",
        success: function(data){
            var msg = $('div#keys #msg');
            var list = $("div#keys ul");
            var num = $('div#keys #num');
            num.html('');
            msg.html('');
            list.html('');
            if(!data.status)
            {
                $('div#keys #msg').html('连接出错......');
                return;
            }
            num.html('Num: ' + data.data.length);
            data = data.data;
            for( i in  data){
                var k = data[i];
                var s = $("<li>").text(k);
                s.click(get);
                list.append(s);
            }
        },
    })
}
function savecfg(){
    localStorage.redis_host = $('input#host').val();
    localStorage.redis_port = $('input#port').val();
    localStorage.redis_db   = $('input#db').val();
}

function loadcfg(){
    var host = localStorage.redis_host;
    var port = localStorage.redis_port;
    var db = localStorage.redis_db;
    if (host == null) host = '127.0.0.1';
    if (port == null) port = 6379;
    if (db   == null) db = 0;
    $('input#host').val(host);
    $('input#port').val(port);
    $('input#db').val(db);
}

$(document).ready(function(){
    loadcfg();

    refresh();
    $('#refresh').click(refresh);
    $('input#host, input#port, input#db').blur(savecfg);
})
</script>

<div id="setting">
    <label>HOST:</label> <input id=host name=host value="127.0.0.1">
    &nbsp; &nbsp; &nbsp; &nbsp;
    <label>PORT:</label> <input id=port name=port value="6379">
    &nbsp; &nbsp; &nbsp; &nbsp;
    <label>DB:</label> <input id=db name=db value="0">
    &nbsp; &nbsp; &nbsp; &nbsp;
    <button id="refresh">Refresh</button>

</div>

<hr />
<div id="keys">
    <span id=msg></span><span id=num></span><br />
    <ul>
    </ul>
</div>

<div id="content">
    <div id="info">
        <label>KEY:&nbsp;&nbsp;</label> <span id="key"></span><br />
        <label>类型:&nbsp;</label> <span id="type"></span><br />
        <label>NUM:&nbsp;</label> <span id="num"></span><br />
    </div>
        <br /><br />
        <hr />
    <div id="value">
    </div>
</div>



