<script src='/static/js/jquery.js'></script>
<style>
#keys{
    min-width: 200pt;
    max-width: 50%;
    display: inline-block;
    vertical-align: top;
}
#keys li{
    cursor:pointer;
}
#content{
    vertical-align: top;
    width: 600pt;
    display: inline-block;
    border: none;
    border-left: 1px solid #b0b0b0;
    min-height: 400pt;
    padding-left: 2em;
    display: inline-block;
}
#content #value{
    overflow: auto;
    border: 2px solid green;
    padding: 1em;
}
table{
    border-collapse:collapse;
}
table td{
    padding: 0.5em;
    border: 1px solid;
}
li{
    margin: 1em;
}
button:hover{
    cursor: pointer;
}

div#keys #msg{
    color: red;
}
.index_table tr td:first-child{
    border: 0pt;
    color: grey;
}
div#setting input{
    border: none;
    border-bottom: solid 1px grey;
}
button#delete{
    float: right;
}

</style>
<script>
function get()
{
    $(this).parent().find('li').css('color', 'black');
    $(this).css('color', 'blue');

    var key = $(this).text();
    var value = $('div#value').html('');

    var value_type = $('div#content span#type').html('');
    var value_key = $('div#content span#key').html('');
    var value_num  = $('div#content span#num').html('');
    var msg = $('#info #msg');
    msg.html('loading ...');

    $.ajax({
        url: redis_localtion() + "KEYS/" + key,
        dataType: "json",
        async:false,
        success: function(data){
            msg.html('');


            value_type.text(data.type);
            value_key.text(key);

            if (data.type == 'none'){
                return;
            }
            if (data.type == 'string'){
                value.html(data.value);
                return;
            }
            var t = $("<table>");
            var l = 0;
            for (k in data.value){
                var tr = $("<tr>");
                var td = $("<td>").text(k);
                tr.append(td);

                tr.append($("<td>").text(data.value[k]));
                t.append(tr);
                l += 1;
            }
            value_num.html(l);
            value.append(t);
            if (data.type != 'hash'){
                t.attr('class', 'index_table');
            }
            return;
        },
    })
}

function redis_localtion(){
    var host = $('div#setting input[name=host]').val();
    var port = $('div#setting input[name=port]').val();
    var db = $('div#setting input[name=db]').val();
    var filter = $('div#setting input[name=filter]').val();

    return "/redis/" + host + "/" + port + "/" + db + '/';
}
function refresh(){
    var filter = $('div#setting input[name=filter]').val();
    var url = redis_localtion()+"KEYS?filter="+ encodeURIComponent(filter)

    var msg = $('div#keys #msg');
    var list = $("div#keys ul");
    var num = $('div#keys #num');

    var height = document.body.clientHeight - $('div#keys').offset().top;
    $('div#keys').css('height', height - 10);

    var value = $('div#value').html('');
    var height = document.body.clientHeight - value.offset().top;
    value.css('height', height - 60);

    num.html('');
    msg.html('');
    list.html('');

    flush_value();

    if(filter == ""){
        msg.html("waring: filter is empty!<br>");
    }

    $.ajax({
        url: url,
        dataType: "json",
        async:false,
        success: function(data){
            if(!data.status)
            {
                $('div#keys #msg').append('连接出错......');
                return;
            }
            num.html('Num: ' + data.data.length);
            data = data.data;
            for( i in  data){
                var k = data[i];
                var s = $("<li>").text(k);
                s.click(get);
                list.append(s);
            }
    var content = $('div#content');
    var width = document.body.clientWidth - content.offset().left;
    content.css("width",width - 100);
        },
    })
}
function savecfg(){
    localStorage.redis_host = $('input#host').val();
    localStorage.redis_port = $('input#port').val();
    localStorage.redis_db   = $('input#db').val();
    localStorage.filter = $('input#filter').val();
}

function loadcfg(){
    var host = localStorage.redis_host;
    var port = localStorage.redis_port;
    var db = localStorage.redis_db;
    var filter = localStorage.filter;
    if (host == null) host = '127.0.0.1';
    if (port == null) port = 6379;
    if (db   == null) db = 0;
    if (filter == null) filter = "*"
    $('input#host').val(host);
    $('input#port').val(port);
    $('input#db').val(db);
    $('input#filter').val(filter);
}

function flushdb(){
    if(!confirm("确定清空当前数据库？")) return;

    var url = redis_localtion() + "DB";
    $.ajax({
        url: url,
        type: "delete",
        async:false,
        success:function(data){
            alert("清除成功！");
            refresh( );
        },
        error:function(textStatus){
            alert(textStatus);
            refresh( );

        }
    });
}

function delete_key(){
    var url = redis_localtion();
    var keys = $("div#content #key").text();

    if(!confirm("确定删除key:" + keys)) return;

    url += "KEYS?key=" + encodeURIComponent(keys);
    $.ajax({
        url: url,
        type:"delete",
        success:function(data){
            alert("删除成功！");
            refresh();
        },
        error:function(textStatus){
            alert(textStatus);
            refresh();
        }
    });
}

function flush_value()
{
    var value = $('div#value');
    var key = $("div#info span#key");
    var type = $("div#info span#type");
    var num = $("div#info span#num");
    value.html('');
    key.html('');
    type.html('');
    num.html('');

}

$(document).ready(function(){
    loadcfg();

    refresh();
    $('#refresh').click(refresh);
    $('input#host, input#port, input#db').blur(savecfg);
    $('#flushdb').click(flushdb);
    $('#delete').click(delete_key);
})
</script>

<div id="setting">
    <label>HOST:</label> <input size="10" id=host name=host value="127.0.0.1">
    &nbsp; &nbsp; &nbsp; &nbsp;
    <label>PORT:</label> <input size="6" id=port name=port value="6379">
    &nbsp; &nbsp; &nbsp; &nbsp;
    <label>DB:</label> <input size="3" id=db name=db value="0">
    &nbsp; &nbsp; &nbsp; &nbsp;
    <label>FILTER:</label> <input size="15" id="filter" name=filter value='*'>
    &nbsp; &nbsp; &nbsp; &nbsp;
    <button id="refresh">Refresh</button>
    &nbsp; &nbsp; &nbsp; &nbsp;
    <button id="flushdb">FlusDB</button>

</div>

<hr />
<div id="keys">
    <span id=msg > </span> <span id=num > </span> <br />
    <ul>
    </ul>
</div>

<div id= "content" >
    <div id= "info" >
        <button id=delete >delete</button>
        <label>KEY:&nbsp;&nbsp;</label><span id="key"></span><br />
        <label>类型:&nbsp;</label> <span id="type"></span><br />
        <label>NUM:&nbsp;</label> <span id="num"></span><br />
        <label id='msg'></label>
    </div>
        <br />
        <hr />
    <div id="value">
    </div>
</div>



