<script src=/static/js/jquery.js ></script>
<link rel='stylesheet' type='text/css' href=/static/css/base.css ></link>
<script src='/static/zeroclipboard/ZeroClipboard.js'></script>
<script>
var TEXT;
var INDEX = -1;
var TYPE;
function fresh()
{
    $.ajax({
        url: "/texshow/data",
        data:  {index: INDEX, type: $("#type").val()},
        dataType: 'json',
        success: function(data){
            if (INDEX == data[0] && TYPE == data[2]) return;

            INDEX = data[0];
            TEXT  = data[1];
            TYPE  = data[2];

            if (TYPE == 'html')
                $("#doc").html(TEXT);
            else
                $("#doc").html("<pre>" + TEXT + "</pre>");


            $("#pages").text(Math.floor($('#doc').height()/1176 + 1));
            $("#source").attr("data-clipboard-text", TEXT);
        }
    })
}
$(document).ready(function(){
    fresh();
    setInterval(fresh,2200);//1000为1秒钟
    $("#type").change(fresh);
    var clip=new ZeroClipboard(document.getElementById("source"), { });
});
</script>
<style>
#head, #doc{
    margin-left: 1em;
    width: 900px;
    border: 1px solid;
    padding: 1em;
}

#bottom{
    height: 500px;
}
</style>
<div id=head>
    <button data-clipboard-text="" id=source>Copy</button>
    Pages:<label id='pages'> </label>
    <select id=type>
        <option>HTML</option>
        <option>MARKDOWN</option>
        <option>TEX</option>
    </select>
</div>
<div id=doc>
</div>
<div id=bottom >
</div>
